.myBtn{
    max-width: 150px;
    transition: .2s linear;
    padding: 10px 15px;
    border:#b2e7ff 2px solid;
    cursor: pointer;
}

.myBtn:hover{
    border: 2px solid rgba(0, 0, 0, 0.193) ;
}