.select{
    display: inline-block;
    min-width: 160px;
    height: 34px;
    line-height: 30px;
    position: relative;
    border: #b2e7ff 2px solid;
}

.status{
    margin-top: 20px;
}

.sort{
    margin-left: 20px;
}

.task__text__item{
    margin-top: 10px;
}