.tasks{
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
}

.check-empty{
    text-align:center; 
    font-size:25px;
    color:red;
    margin-top: 30px;  
}

.title{
    margin-top: 30px;
    display: block;
    text-align: center;
    font-size: 30px;
}