.myInput{
    border: #b2e7ff 2px solid;
    padding: 10px 15px;
    font-size: 15px;
    width: 100%;
}
.myInput:not(:last-of-type){
    margin-bottom: 15px;
}

.task__text__item{
    margin-top: 10px;
}