.task {
    position: relative;
    margin: 20px 20px 0px 0;
    box-shadow: 10px 10px 5px #f7c5c5;
    background: #b2e7ff;
    border: 1px solid #000;
    border-radius: 30px;
    width: 400px;
    height: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .1s linear all;
    &:hover{
        transform: translate3d(5px, 5px, 5px);
    }   
    &__delete{
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: 25px;
        cursor: pointer;
    }
    &__tools__edit{
        font-size: 20px;
        cursor: pointer;
        text-align: center;
    }
    &__tools__edit-active{
        color: red;
    }
    &__text{
        font-weight: 500;
    }
    &__text > div{
        margin: 10px 0;
    }
    &__tools__status{
        position: relative;
        width: 20px;
        height: 20px;
    }
    &__tools{
        display: flex; 
        justify-content: space-between ;
        align-items: center;
    }
}