.task {
    position: relative;
    margin: 20px 20px 0px 0;
    box-shadow: 10px 10px 5px #f7c5c5;
    background: #b2e7ff;
    border: 1px solid #000;
    border-radius: 30px;
    width: 348px;
    height: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .1s linear all;
    &:hover{
        transform: translate3d(5px, 5px, 5px);
    }   
    &__delete{
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: 25px;
        cursor: pointer;
    }
    &__edit{
        font-size: 20px;
        cursor: pointer;
        text-align: center;
    }
    &__text{
        font-weight: 500;
    }
    &__status{
        display: none;
        position: relative;
        width: 20px;
        height: 20px;
        left: 10px;
        top: 5px;
    }
    &__status + label::before{
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        background: white;
    }
    &__status:checked + label::before{
        display: flex;
        align-items: center;
        justify-content: center;
        content: '✔';
        color: #000;
        font-size: 20px;
    }
}